<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue中的条件渲染</title>
    <script src="../vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- <div v-if="show" data-test="v-if">{{msg}}</div> -->
      <!-- <div v-show="show" data-test="v-show">{{msg}}</div> -->
      <div v-if="show">用户名 <input type="text" key="userName" /></div>
      <div v-else>邮箱名 <input type="text" key="mail" /></div>
    </div>
    <script>
      var vm = new Vue({
        el: '#app',
        data: {
          show: false,
          msg: 'Hello World',
        },
      })
    </script>
  </body>
</html>
